/*--------------RESET-------------*/
a{
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
em {
  font-style: italic;
}
*{
  margin:0;
  padding: 0;
}

/*--------------STYLE GENERAL-------------*/

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: absolute;
}
*{
  font-family: 'Lato', sans-serif;
}


/*--------------START HEADER-------------*/
.logo {
  width: 40%;
  padding: 15px;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");   
}
.navbar .navbar-toggler {
  border: none;
  padding-bottom: 15px;
}
.navbar-toggler-icon {
  padding: 20px;
}
.offcanvas-header .btn-close {
  font-size: 25px;
  opacity: 1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='red'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");;
}
.navbar-nav .nav-item a:hover {
  color: red;
  text-decoration: underline;
}
.rectanglegrp {
  position: relative;
}
.ligneR {
  position: relative;
  background-color: white;
  top: -5px;
}
.rectangleH1 {
  position: relative;
  background-color: red;
  width: 215px;
  height: 10px;

}
.ligneD {
  position: relative;
}
.rectangleH2 {
  position: absolute;
  background-color: black;
  width: 215px;
  height: 10px;
  top: -5px;
  right: 0px;
}




/*--------------START AVENIR-------------*/
.avenir {
  position: relative;
  top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avenir h2 {
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.card {
  width: 18rem;
}
.card-title {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}



/*--------------START PASSER-------------*/
.passee {
  background-color: black;
  position: relative;
  top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.passee h2 {
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 15px;
}
.events-title {
  color: white;
  font-size: 1rem;
  font-weight:bold;
}
.subtitle {
  padding-left: 10px;
}
.subtitle h6 {
  color: white;
  font-size: 1rem;
  font-weight:bold;
}
.subtitle p {
  color: white;
  font-weight:lighter;
}




/*--------------START FOOTET-------------*/
.end {
  position: relative;
  top: 165px;
}

.logoF {
  position: absolute;
  width: 40%;
  right: 0;
  bottom: 130px;
  margin: 5%;
}
.reseaux {
  position: absolute;
  width: 40%;
  right: 0;
  bottom: 35px;
  margin: 5%;
}
.reseaux img {
  width: 20%;
  margin: 5px;
}
.courtisane {
  position: relative;
}
.courtisane img{
  width: 55%;
  transform: scaleX(-1);
}

.footerF  {
  position: relative;
  background-color: red;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerF img {
  width: 15px;
  margin: 5px;
}
.footerF p {
  color: white;
  font-size: 0.55rem;
  margin-bottom: 0;
}
.footerF a {

  color: white;
  font-size: 0.55rem;
  margin-bottom: 0;
}