/*--------------RESET-------------*/
a{
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
em {
  font-style: italic;
}
*{
  margin:0;
  padding: 0;
}

/*--------------STYLE GENERAL-------------*/

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: absolute;
}
*{
  font-family: 'Lato', sans-serif;
}


/*--------------START HEADER-------------*/
header {
  position: fixed;
  z-index: 1000;
}

/* LOGO */
.logo {
  width: 45%;
  padding: 15px;
}

/* NAVBAR */
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");   
}
.navbar .navbar-toggler {
  border: none;
}
.navbar-toggler{
  position: relative;
  left: 90px;
}
.navbar-toggler-icon {
  padding: 20px;
}
.offcanvas-header .btn-close {
  font-size: 25px;
  opacity: 1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='red'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");;
}
#offcanvasNavbar {
  height: 300px;
}
.navbar-nav .nav-item a:hover {
  color: red;
  text-decoration: underline;
}

/* HOME DECORATION BAR */
.barreDéco1 {
  position: relative;
  top: 18px;
  left: 0;
}
.barreDéco2 {
  position: relative;
  top: 18px;
  left: 130px;
}

/*--------------START MAIN-------------*/
main {
  position: relative;
  top: 155px;
}


/*--------------START FOOTET-------------*/
.foot {
  position: relative;
  top: 85px;

}
.logoF {
  position: absolute;
  width: 125px;
  left: 170px;
  bottom: 200px;
}
.reseaux {
  position: relative;
  width: 115px;
  left: 150px;
  top: 172px;
}
.reseaux img {
  width: 25px;
  margin: 5px;
}
.reseaux p{
  margin-bottom: 0;
}
.courtisane {
  position: relative;
  z-index: 2;
}
.courtisane img{
  width: 160px;
  transform: scaleX(-1);
}
.barriere {
  position: absolute;
  bottom: 45px;
}
.barriere img {
  width: 295px;
}
.rectangleF {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 50px;
}
.rectangleF img {
  width: 10px;
}
.rectangleF p {
  position: relative;
  color: white;
  font-size: 0.55rem;
  margin-bottom: 0;
}
.rectangleF a {
  position: relative;
  color: white;
  font-size: 0.55rem;
  margin-bottom: 0;
}