/*--------------RESET-------------*/
a{
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
}
em {
  font-style: italic;
}
*{
  margin:0;
  padding: 0;
}

/*--------------STYLE GENERAL-------------*/

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: absolute;
}
*{
  font-family: 'Lato', sans-serif;
}


/*--------------START HEADER-------------*/

/* LOGO */
.logo {
  width: 10em;
  padding: 15px;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
.navbar-expand-md {
  overflow-x: hidden;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");   
}
.navbar .navbar-toggler {
  border: none;

}
.navbar-toggler-icon {
  padding: 20px;
}
.offcanvas-header .btn-close {
  font-size: 25px;
  opacity: 1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='red'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");;
}
.navbar-nav .nav-item a:hover {
  color: red;
  text-decoration: underline;
}
.rectanglegrp {
  position: relative;
}
.ligneR {
  position: relative;
  background-color: white;
  top: -5px;
}
.rectangleH1 {
  position: relative;
  background-color: red;
  width: 65%;
  height: 10px;

}
.ligneD {
  position: relative;
}
.rectangleH2 {
  position: absolute;
  background-color: black;
  width: 65%;
  height: 10px;
  top: -5px;
  right: 0px;
}



/*--------------START COVER-------------*/
.cover {
  position: relative;
  top: 105px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.divCarousel {
  position: relative;
  z-index: -5;
  height: 100%;
  padding: 0;
  .carousel-inner{
    height: 100%;
    .carousel-item{
      height: 100%;
    }
  }
  .carousel-item {
  height: 100%;
  }
}
.rectangleC1,
.rectangleC2 {
  position: absolute;
  bottom: 0;
  width: 65%; 
  height: 10px;

}
.rectangleC1 {
  background-color: red;
  left:0;
}
.rectangleC2 {
  background-color: black;
  right: 0;
  bottom: -10px;
}
.carousel-control-prev, .carousel-control-next {
  cursor: pointer;
} 
.association-text {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  bottom: -30px;
}


/*--------------START KABUQUOI-------------*/
#kabuquoi {
  position: relative;
  width: 100%;
  top: 90px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  scroll-margin-top: 125px;
}
#kabuquoi h3 {
  text-transform: uppercase;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.kabuki-text p {
  font-size: 1.1rem ;
  font-weight: lighter;
  padding-top: 1rem;
}
.clearfix {
  width: 100%;
  transform: scaleX(-1);
}


/*--------------START SceneTraditionelle-------------*/
#scenetradi {
  position: relative;
  width: 100%;
  top: 30px;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 12px;
  scroll-margin-top: 100px;
}
#scenetradi h3 {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.scene1 img {
  width: 100%;
  margin-top: 10x;
}
.scene2 img {
  width: 100%;
}
/*barre rouge*/
.separation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle {
  background-color: red;
  width: 180px;
  height: 5px;
  margin: 20px;
}

/*texte*/
.cercle {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}
.scene-title {
  text-transform: uppercase;
  color: white;
}
.scene-text {
  color: white;
  font-weight: lighter;
}



/*--------------START contact-------------*/
#contact {
  position: relative;
  top: 35px;
  width: 100%;
  padding-top: 25px;
  scroll-margin-top: 110px;
}
.placement {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}
.placement h3 {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.sendingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoF {
  width: 100%;
  right: 0;
  bottom: -95px;
  margin: 5%;
}
.reseaux {
  width: 40%;
  right: 0;
  bottom: -185px;
  margin: 5%;
}
.reseaux img {
  width: 20%;
  margin: 5px;
}
.reseaux p{
  font-size: 1.1rem ;
  font-weight: bold;
  padding-top: 1rem;
}

.courtisane img{
  width: 100%;
  transform: scaleX(-1);
}



/*-------------Start footer--------------*/
.footerF  {
  position: relative;
  background-color: red;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerF img {
  width: 15px;
  margin: 5px;
}
.footerF p {
  color: white;
  font-size: 0.55rem;
  margin-bottom: 0;
}
.footerF a {

  color: white;
  font-size: 0.55rem;
  margin-bottom: 0;
}
