@media screen and (max-width: 480px) {
  
  .logoF {
    width: 15em;
  }
  .courtisane {
    width: 15em;

  }
  .reseaux img {
    width: 2em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
  .footerF p {
    font-size: 0.7rem;
  }
  .footerF a {
    font-size: 0.7rem;
  }
  .subtitle {
    padding-left: 150px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px){
  .footerF p {
    font-size: 0.7rem;
  }
  .footerF a {
    font-size: 0.7rem;
  }
  .subtitle {
    padding-left: 150px;
  }
}
