@media screen and (min-width: 375px) {
  
  .logoF {
    bottom: 155px;
  }
  
}


@media screen and (min-width: 768px) {
  .kabuki-text img {
    width: 50%;
  }

  .logoF {
    position: relative;
    width: 50%;
    bottom: 0;
    margin: 5%;
  }
  .reseaux {
    position: relative;
  }
  .courtisane img{
    width: 70%;
  }

  .footerF  {

    height: 50px;
    top: 25px;
  }
}
